@tailwind base;
@tailwind components;
@tailwind utilities;

.heading_text {
    @apply text-text text-[24px] md:text-[32px] lg:text-[36px] font-medium
}

.desc_text {
    @apply text-text-gray text-[16px] md:text-[17px]
}

.custom_button {
    @apply custom-shadow font-semibold px-[20px] py-[12px] uppercase text-[16px] md:text-[17px] rounded-lg cursor-pointer border-b-2 border-primary
}

/* box-shadow */
.custom-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* articles image hover effect */
.parent_card:hover .main-banner img {
    -webkit-filter: brightness(0.5);
    -moz-filter: brightness(0.5);
    filter: brightness(0.5);
}